<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="Paisapeek"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity android:name=".MainActivity" android:exported="true"
            android:configChanges="orientation|screenSize|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity>

        <activity android:name=".SetupActivity" android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <activity android:name=".InboxActivity" android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <receiver android:name=".NotifyActionReceiver" android:exported="false" />

        <receiver android:name=".SmsReceiver" android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
